@media screen and (max-width: 1100px) {
    #banana{
        width:70px;
    }
}


@media screen and (max-width: 800px) {
    

    nav {
        justify-items: center;
    }
    
    .logo{
        padding-right:0;
        
    }

    #banana{
        width: 50px;
    }

    .section-title {
        margin-top: 1rem;
    }

    .section-articles{
        gap: 2px;
    }


}

@media screen and (max-width: 612px) {
    .heading{
        font-size: 1.5rem;
    }

    .caption-text{
        font-size: 1rem;
    }

    .section-articles{
        gap: 1px;
        height: 65vh;
    }
    

}

@media screen and (max-width: 375px) {
    .heading{
        font-size: 1.25rem;
    }

    .caption-text{
        font-size: 0.5rem;
    }
    

}